.projects-content{
    position: relative;
    background: #1d1d1d;
}
.projectsCardContainer{
    background-color: #1d1d1d;
    padding: 20px 0px 60px 0px;
    display: flex;
    justify-content: center;

}
.projectCards{
    margin: 20px 20px 20px 20px;
    justify-content: center;
}
.projectCardRow{
    justify-content: center;

}