.hero-container{
    position: relative;
    height: 100vh;
    text-align: center;
    margin-top: 8vh;
    background-image: webpage_hero_image.jpg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.hero-h1{
    position: absolute;
}

.hero-h3{
    position: absolute;
}

.hero-image{
    width: 100vw;
}