
.hero-container{
    position: relative;
    height: 90vh;
    text-align: center;
    background-image: url('./webpage_hero_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-h1{
    text-align: center;
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(0);
    color: white;
    font-size: 64px;
}

.hero-h3{
    text-align: center;
    position: absolute;
    top: 48%;
    left: 15%;
    transform: translate(0);
    color: white;
    font-size: 36px;
}

.hero-image{
    width: 100vw;
}